<div class="form-group">
    <label for="author">Kirjoittaja</label>
    <input required value="<%- blog.author %>" type="text" name="author" id="author" class="form-control"> 
</div> 
<div class="form-group">   
    <label for="title">Otsikko</label>
    <input required value="<%- blog.title %>" type="text" name="title" id="title" class="form-control"> 
</div>
<div class="form-group mb-2">
    <label for="blogtext">Teksti</label>
    <textarea required name="blogtext" id="blogtext" class="form-control"><%- blog.blogtext %></textarea>
</div>
<button type="submit" class="btn btn-primary">Tallenna</button>
